/* BODY */

body{
  width: 100%;
  margin: 0;
  background-color: #26a78b;
}

/* HEADER */

header{
  display: flex;
  width: 100%;
  align-items: center;
  position:fixed;
  top: 0;
  left: 0;
  background-color: transparent;
}

header ul.Hero_name{
  width: 10%;
  align-items: center;
  padding-right: 40px;
}

header nav{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.Navigation_list{
  display: flex;
  width: 35%;
  justify-content: space-around;
}

.Navigation_list li {
  list-style-type: none;
  padding: 2%;
}

.Navigation_list a{
  padding: 10px;
  font-size: larger;
  color: white;
  outline: none;
  text-decoration: none;
}

.Navigation_list a:hover{
  border-bottom: 1px solid white;
  color: rosybrown;
  background: white;
  border-radius: 20px;
}

.Navigation_list a:focus{
  color: rosybrown;
  border-bottom: 1px solid white ;
  background-color: white;
  border-radius: 20px;
}

.Navigation_list #activ_link{
  text-decoration: underline;
}

/* MAIN */

main{
  width: 100%;
}

/* PROFIL */
.profil {
  display: flex;
  height: 1000px;
  width: 100%;
  background-image: url(img/IMG_20220802_205532.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

  /* ASIDE NOM */
  .nom{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .nom h1{
    font-size: 300%;
    color: white;
  }

  /* ASIDE CITATION */
  .profil q{
    font-size: 200%;
    color: white;
  }

  .profil p{
    color: white;
  }

/* SAUT */
.saut{
  height: 30px;
  width: 100%;
  background-color: white;
}

/* TRAVAUX */

.travaux{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.travaux h1{
  color: white;
}

.sae {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

.sae p{
  text-align: center;
}

/* BUT INFO */
.but_info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.but_info a{
  font-size: medium;
  color: white;
  outline: none;
  text-decoration: none;
}

.but_info a:hover{
  color: #26a78b;
  background-color: white;
}

/* BARRE RESAUX SOCIAUX */
.reseaux_sociaux{
  width: 50%;
  position:fixed;
  top: 0;
  left: 0;
}

.reseaux_sociaux ul {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.reseaux_sociaux ul li{
  list-style: none;
  padding: 2%;
}

.reseaux_sociaux ul li a{
  display: block;
  text-decoration: none;
}

/* EN TETE ANNEE 1 */
.en_tete_annee_1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  color: white;
}

/* CONTACT */
.contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}